@model IEnumerable<LogicaNegocio.Dominio.Pedido>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div>
    <a asp-action="Create">Crear Pedido</a>
</div>
<div>
    <a asp-action="BuscarPedidos">Buscar Pedidos</a>
</div>

<span>@ViewBag.ErrorMsg</span>


